/**
 * styleInteropMod.css
 *
 * stylesheets for interop module
 *
 * @author: Després Laurent <laurentd@netc.fr>
 * date: 04/2020
 */

/*Style for welcome page of module interop*/

.central-section {
	
	margin-bottom: 5px;
	
}

.error-message {
	margin: auto;
	font-size: 2em;
	text-align: center;
	border-radius: 6px;
	border: 2px solid #65BA91;
}

/*Style for menu-left of module interop*/
#header-interop>h4 {
	margin: auto;
}
#header-interop {
	margin-bottom: 5px;
	padding-bottom: 5px;
}
#button-bar>.nav-item>a {
	border-radius: 6px;
	border-left: 3px solid #b63348;
	border-top: 3px solid #b63348;
	margin-top: 3px;
}
#search-bar-wiki {
	font-size: 16px;
	display: inline-flex;
}
#menu-left {
	border-radius: 6px;
	overflow: auto;
	margin-top: 5px;
}
#loading-menu {
	border-radius: 6px;
	margin-top: 5px;
}
#pageWiki, #loading-page {
	border-radius: 6px;
	overflow: auto;
	margin-top: 5px;
}

#loading-page>ul, #loading-menu>ul {
	border-radius: 3px;
	width: 50%;
	display: inline-block;
	position: relative;
	background: rgba(255, 255, 255, 0.20);
	background: linear-gradient(to right, #65BA91 0%, #116d41 100%);
	animation: shine;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

@keyframes shine {
	from {
		opacity: 0.1;
		left: 0%;
	}
	to {
		opacity: 1;
		left: 50%;
	}
}

.link-docs-menu.active {
	background-color: whitesmoke !important;
}

#menu-left>ul, #loading-page>ul, #loading-menu>ul {
	border-bottom: 1px solid #ccc;
	list-style: none;
}

#title-menu, #loading-page>p, #loading-menu>p {
	font-size: 1.5em;
	text-align: center;
}
/* #title-menu {

} */
/* #loading-page>p, #loading-menu>p {
	overflow: hidden;
} */

#central-container>p {
	font-size: 2em;
	overflow: auto;
}

#accordion>li, #loading-menu>ul>li, #loading-page>ul>li {
	text-align: center;
	margin: auto;
	width: 85%;
}

#accordion>li>div>ul>li, .subMenu>li {
	text-align: left;
	padding-left: 3px;
}

#accordion>li.active, #accordion>li:hover, #accordion>li.active, #accordion>li>a:hover, .subMenu>li:active, .subMenu>li:hover {
	border-left: 2px solid #65BA91;
	color: #65BA91;
	background-color: whitesmoke;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	list-style: none;
}

.subMenu>li {
	display: block;
	overflow-wrap: break-word;
}

#nameEl {
	text-align: center;
}
#menu-top-page>.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 5px;
}
.card>div>ul>li {
	list-style: none;
}

