/**
 * styleInteropMod.css
 *
 * stylesheets for interop module
 *
 * @author: Després Laurent <laurentd@netc.fr>
 * date: 04/2020
 */

/*Style for welcome page of module interop*/

#header-interop {
	display: flex;
	justify-content: space-between;
	margin-left: 5px;
}

.error-message {
	margin: auto;
	font-size: 2em;
	text-align: center;
	border-radius: 6px;
	border: 2px solid #65BA91;
}

/*Style for menu-left of module interop*/

#menu-left {
	border-radius: 6px;
	max-width: 250px;
	max-height: 600px;
	overflow: auto;
}
#loading {
	border-radius: 6px;
	max-width: 250px;
	max-height: 600px;
}
#loading>ul{
	position: relative;
	background-color: rgb(151, 151, 151);
}

#loading>ul{
	border-radius: 3px;
	content: '';
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.20);
	background: linear-gradient(to right, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0) 100%);
	animation: shine;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

@keyframes shine {
	from {
		opacity: 0.5;
		left: 15%;
	}
	to {
		opacity: 1;
		left: 50%;
	}
}
	.link-docs-menu.active {
		background-color: whitesmoke !important;
	}
	#menu-left>ul, #loading>ul {
		border-bottom: 1px solid #ccc;
		list-style: none;
	}
	#central-container #title-menu, #loading>p {
		font-size: 2em;
		text-align: center;
	}
	#accordion>li, #loading>ul>li {
		text-align: center;
		margin: auto;
		width: 85%;
	}
	#accordion>li>div>ul>li, .subMenu>li {
		text-align: left;
		padding-left: 3px;
	}
	#accordion>li.active, #accordion>li:hover, #accordion>li.active, #accordion>li>a:hover, .subMenu>li:active, .subMenu>li:hover {
		border-left: 2px solid #65BA91;
		color: #65BA91;
		background-color: whitesmoke;
		text-decoration: none;
		border-bottom: 1px solid #ccc;
		list-style: none;
	}
	.subMenu>li {
		display: block;
		overflow-wrap: break-word;
	}

	#menu-left-page {
		display: flex;
		flex-direction: column;
		border-radius: 6px;
		margin-right: 10px;
		margin-top: 5px;
		max-height: 600px;
		overflow: auto;
	}
	.btn-actor, .card {
		margin: 5px;
		border-radius: 6px;
	}
	.text-red, .card-header {
		text-align: center;
		font-size: 1.8em;
		word-wrap: break-word;
	}
	.text, .card-body>p {
		font-size: 1.1em;
	}
	#body-actors {
		border-radius: 6px;
		margin-top: 5px;
	}
	.card-community, .card-defis, .card-ressources {
		margin: 5px 15% 5px 15%;
		width: 70%;
		background-color: #f8f8f8;
	}
	.c-actor {
		margin-top: 5px;
	}
	.collapse>ul>li, .card-defis>ul>li {
		margin-bottom: 3px;
		margin-left: 5px;
		list-style: none;
	}
	.collapse>ul {
		background-color: #f8f8f8;
	}
	.badge-primary {
		background-color: #65BA91;
		font-size: 1.5em;
		margin: 2px 2px;
	}
	#btw>div>div>img {
		margin-right: 10px;
	}
	.btn-lg:hover, .btn-lg:active {
		background-color: #f8f8f8;
	}
	.badge-secondary {
		background-color: rgb(134, 199, 167);
		font-size: 1.2em;
		margin: 2px 2px;
	}